<h1>W & W Poll App</h1>
<h2><%=@poll.question%> By <%=User.find(@poll.creator_id).username%></h2>

<h4>Users Answering</h4>
<ul>
    <%@poll.users.each do |user|%>
    <li><a href="/users/<%=user.id%>"><%=user.username%></a> said <%=user.options.find_by(:poll_id == @poll.id).value%></li>
    <%end%>
</ul>

<form action="/